backend/workflow.json
{
  "name": "AI Placement Assistant Agent",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \n  \"ats_score\": $json.ats_score, \n  \"ats_level\": $json.ats_level, \n  \"matched_skills\": $json.matched_skills, \n  \"missing_skills\": $json.missing_skills, \n  \"strengths\": $json.strengths, \n  \"areas_to_improve\": $json.areas_to_improve, \n  \"recommended_projects\": $json.recommended_projects, \n  \"pdf_base64\": $json.pdf_base64 \n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        96,
        -192
      ],
      "id": "3ed376ec-8385-44d1-9912-0d1e13fa8562",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the structured job/internship data extracted from Unstop. Please generate a comprehensive and well-formatted description of this opportunity:\n\n{{ JSON.stringify($input.first().json, null, 2) }}",
        "options": {
          "systemMessage": "=<AgentInstructions>\n    <Role>\n  <name>JobDescriptionSummaryAgent</name>\n  <description>\n    An AI agent that receives structured job/internship data extracted from Unstop and generates a clear, \n    professional, and comprehensive description of the opportunity for the candidate.\n  </description>\n</Role>\n\n<Goal>\n  <Primary>\n    Analyze the structured job/internship data and generate a well-formatted, easy-to-read summary \n    that helps a candidate quickly understand the opportunity, requirements, and what to expect.\n  </Primary>\n</Goal>\n\n<Instructions>\n  <Instruction>\n    You will receive structured JSON data containing job/internship details including title, company, \n    responsibilities, requirements, skills, eligibility, perks, duration, stipend, and more.\n  </Instruction>\n  <Instruction>\n    Generate a professional and friendly job description summary with clearly separated sections.\n  </Instruction>\n  <Instruction>\n    Always include the following sections in your output:\n    - Overview (title, company, type, work mode, duration, stipend, openings, apply by date)\n    - Responsibilities\n    - Requirements\n    - Preferred Skills\n    - Skills Required\n    - Eligibility Criteria\n    - Perks and Benefits\n    - Quick Verdict (2-3 lines summarizing who this opportunity is best suited for)\n  </Instruction>\n  <Instruction>\n    Format dates in a human-readable way. For example, \"2026-05-31T00:00:00+05:30\" should be shown as \"31 May 2026\".\n  </Instruction>\n  <Instruction>\n    If stipend is \"paid\" without an amount, mention it as \"Paid (amount not disclosed)\".\n    If it is \"unpaid\", mention it clearly as \"Unpaid / Voluntary\".\n  </Instruction>\n  <Instruction>\n    Work type should be translated as:\n    - \"wfh\" → \"Work From Home (Remote)\"\n    - \"office\" → \"Work From Office\"\n    - \"hybrid\" → \"Hybrid\"\n  </Instruction>\n  <Instruction>\n    Timing should be translated as:\n    - \"full_time\" → \"Full Time\"\n    - \"part_time\" → \"Part Time\"\n  </Instruction>\n  <Instruction>\n    Keep the tone professional yet approachable. Avoid robotic or overly formal language.\n  </Instruction>\n  <Instruction>\n    Do not make up or assume any information that is not present in the input data.\n    If a field is null or empty, skip that section gracefully without showing \"null\" or \"[]\".\n  </Instruction>\n  <Instruction>\n    Output must be clean, structured, and readable — suitable for display in a chat interface or document.\n  </Instruction>\n</Instructions>\n</AgentInstructions>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1888,
        240
      ],
      "id": "c9dab943-e17d-405f-946f-4c1489ca1849",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1984,
        16
      ],
      "id": "d0159ea3-e1c9-4955-993c-d2faa5abe105",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.resumeFile.base64",
        "options": {
          "fileName": "={{ $json.body.resumeFile.name }}",
          "mimeType": "={{ $json.body.resumeFile.type }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2464,
        16
      ],
      "id": "5e4bceb1-9d83-46ee-b642-f16b74ca9c50",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are given:\n\nRESUME:\n{{ $json.text }}\n\nJOB DESCRIPTION:\n{{ $json.output }}\n\nTASK:\nPerform ATS analysis and resume optimization strictly based on the job description.\n\n---\n\nINSTRUCTIONS:\n\n1. Analyze resume against job description.\n2. Generate ATS metrics.\n3. Identify only relevant:\n   - matched skills\n   - missing skills\n   - strengths\n   - areas to improve\n   - recommended projects\n4. Create a modified resume that improves the original resume WITHOUT changing its core structure.\n\n---\n\nSTRICT RULES:\n\n- Do NOT add unrelated skills or technologies.\n- Do NOT suggest generic software engineering stacks unless explicitly required in job description.\n- Do NOT invent experience or skills not aligned with job role.\n- Ensure every recommendation is role-specific.\n\n---\n\nPROJECT RULES (VERY IMPORTANT):\n\n- Generate AT LEAST 3 strong, high-value, recruiter-attractive recommended projects.\n- Projects MUST strictly match the job role domain.\n- Projects should improve ATS score significantly.\n- Recommended projects must appear BOTH:\n  1. inside recommended_projects array\n  2. inside modified_resume Projects section\n\nExamples:\n- UI/UX → design systems, UX case studies, mobile app redesigns\n- Frontend → React dashboards, responsive web apps\n- Backend → API systems, authentication services\n- AI/ML → prediction systems, NLP apps\n---\n\nCERTIFICATION RULES (VERY IMPORTANT):\n\n- Generate AT LEAST 3 strong industry-recognized certifications relevant to the job role.\n- Certifications MUST align strictly with the detected role domain.\n- Certifications can be from platforms like:\n  - Google\n  - IBM\n  - Coursera\n  - Meta\n  - Microsoft\n  - AWS\n  - Udemy\n  - HubSpot\n  - LinkedIn Learning\n\n- Certifications MUST improve ATS relevance and recruiter attractiveness.\n- Certifications must appear BOTH:\n  1. naturally inside modified_resume Certifications section\n  2. highlighted using [RED][/RED] tags if they are recommended additions\n\nExamples:\n- UI/UX → Google UX Design Certificate, IBM Design Thinking\n- Frontend → Meta Front-End Developer Certificate\n- Backend → AWS Cloud Practitioner, REST API certifications\n- AI/ML → Google AI/ML certificates, IBM AI Engineering\n---\n\nCOLOR TAGGING RULES:\n\nInside modified_resume ONLY:\n\nUse STRICT opening and closing tags:\n\n[RED]text[/RED]\n[YELLOW]text[/YELLOW]\n[GREEN]text[/GREEN]\n\nDO NOT output standalone tags.\n\nExamples:\n[GREEN]Strong UI/UX skills[/GREEN]\n[YELLOW]React knowledge needs improvement[/YELLOW]\n[RED]Missing accessibility experience[/RED]\n\n---\n\nOUTPUT MUST MATCH JSON SCHEMA EXACTLY.\nReturn ONLY JSON.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<AgentInstructions>\n\n<Role>\n<name>ATSResumeOptimizationAgent</name>\n<description>\nAn ATS optimization engine that analyzes resumes against job/internship descriptions and produces strictly structured ATS output in JSON format. It must enforce strict schema compliance and ensure all recommendations are role-relevant only.\n</description>\n</Role>\n\n<Goal>\nAnalyze the resume and job/internship description to generate ATS metrics and a recruiter-optimized modified resume in strict JSON format.\n</Goal>\n\n<OutputSchema>\n{\n  \"ats_score\": number,\n  \"ats_level\": \"Low\" | \"Medium\" | \"High\",\n  \"matched_skills\": string[],\n  \"missing_skills\": string[],\n  \"strengths\": string[],\n  \"areas_to_improve\": string[],\n  \"recommended_projects\": string[],\n  \"modified_resume\": string\n}\n</OutputSchema>\n\n<Instructions>\n\n<Instruction>\nYou will receive a resume and a job/internship description.\n</Instruction>\n\n<Instruction>\nPerform ATS analysis by comparing resume content with job requirements.\n</Instruction>\n\n<Instruction>\nGenerate all fields strictly according to schema.\n</Instruction>\n\n<Instruction>\nEnsure ATS score is between 0–100 and ATS level is Low, Medium, or High only.\n</Instruction>\n\n<Instruction>\nAll arrays must contain only strings. No objects, no null values.\n</Instruction>\n\n<Instruction>\nOutput must be ONLY valid JSON. No explanations, no markdown, no extra text.\n</Instruction>\n\n</Instructions>\n\n<StrictRules>\n\n<Rule>\nDO NOT add any extra keys outside the schema.\n</Rule>\n\n<Rule>\nDO NOT include any text outside JSON.\n</Rule>\n\n<Rule>\nDO NOT hallucinate skills or experience.\n</Rule>\n\n<Rule>\nDO NOT recommend unrelated technologies.\n</Rule>\n\n<Rule>\nDO NOT suggest generic stacks unless explicitly present in job description.\n</Rule>\n\n</StrictRules>\n\n<RoleRelevanceRules>\n\n<Rule>\nRecommendations MUST strictly match the job role domain.\n</Rule>\n\n<Rule>\nUI/UX roles → Figma, UX research, wireframing, prototyping, design systems.\n</Rule>\n\n<Rule>\nFrontend roles → HTML, CSS, JavaScript, React, UI optimization.\n</Rule>\n\n<Rule>\nBackend roles → APIs, databases, authentication.\n</Rule>\n\n<Rule>\nAvoid unrelated suggestions like MERN stack, Docker, CI/CD unless explicitly required.\n</Rule>\n<UIUXRules>\nIf the role is UI/UX Design:\n\nALLOW ONLY:\n- Figma\n- Adobe XD\n- Wireframing\n- Prototyping\n- UX Research\n- User Flows\n- Design Systems\n- Accessibility\n- Interaction Design\n\nDO NOT INCLUDE:\n- APIs\n- Databases\n- Backend\n- Node.js\n- React (unless explicitly mentioned as UI implementation skill)\n- CI/CD\n- Docker\n</UIUXRules>\n</RoleRelevanceRules>\n<RoleLock>\nThe job role MUST be detected from the job description.\nYou MUST classify it into one of the following ONLY:\n\n- UI/UX Design\n- Frontend Development\n- Backend Development\n- Full Stack Development\n- Data/AI/ML\n\nOnce classified:\nYou are STRICTLY FORBIDDEN from recommending skills outside that category.\n</RoleLock>\n<ResumeRules>\n\n<Rule>\nmodified_resume must preserve original resume structure and only enhance it.\n</Rule>\n\n<Rule>\nUse tagging inside modified_resume only:\n[RED] = missing/weak skills\n[YELLOW] = needs improvement\n[GREEN] = strong skills\n</Rule>\n\n<Rule>\nAdd missing skills only if relevant to job description.\n</Rule>\n\n<Rule>\nAdd recommended projects only if relevant to job role.\n</Rule>\n<Rule>\nRecommended projects MUST contain at least 3 powerful, recruiter-attractive, ATS-optimized projects relevant to the detected role category.\n</Rule>\n\n<Rule>\nInside modified_resume, color tagging MUST use proper opening and closing tags only:\n\n[RED]text[/RED]\n[YELLOW]text[/YELLOW]\n[GREEN]text[/GREEN]\n\nDo NOT output standalone tags like [RED] without closing tags.\n</Rule>\n\n<Rule>\nmodified_resume must be cleanly convertible into HTML and PDF formatting.\n</Rule>\n\n<Rule>\nGenerate at least 3 strong industry-recognized certifications aligned with the detected job role.\n</Rule>\n\n<Rule>\nRecommended certifications must be added naturally into the Certifications & Achievements section of modified_resume.\n</Rule>\n\n<Rule>\nNewly recommended certifications must be highlighted using:\n[RED]Certification Name[/RED]\n</Rule>\n\n<Rule>\nDo NOT recommend unrelated certifications outside the detected role category.\n</Rule>\n</ResumeRules>\n\n<OutputFormat>\n\n<Instruction>\nReturn ONLY a valid JSON object matching the schema exactly.\n</Instruction>\n\n</OutputFormat>\n\n</AgentInstructions>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1344,
        0
      ],
      "id": "b3627cd3-2dde-4bd1-99ae-da44e0d7ebee",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"ats_score\": 85,\n\"ats_level\": \"High\",\n\n\"matched_skills\": [],\n\"missing_skills\": [],\n\n\"strengths\": [],\n\"areas_to_improve\": [],\n\n\"recommended_projects\": [],\n\n\"modified_resume\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1200,
        320
      ],
      "id": "028c8207-a91c-4c40-8ae1-7d7a4555ff2b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet resume =\n  data.modified_resume ||\n  data.output?.modified_resume ||\n  data.data?.modified_resume ||\n  \"\";\n\n// Convert tags into HTML colors\nresume = resume\n  .replace(/\\[RED\\](.*?)\\[\\/RED\\]/gs,\n    '<span style=\"color:red;font-weight:bold;\">$1</span>')\n\n  .replace(/\\[YELLOW\\](.*?)\\[\\/YELLOW\\]/gs,\n    '<span style=\"color:orange;font-weight:bold;\">$1</span>')\n\n  .replace(/\\[GREEN\\](.*?)\\[\\/GREEN\\]/gs,\n    '<span style=\"color:green;font-weight:bold;\">$1</span>');\n\n// Preserve formatting\nresume = resume.replace(/\\n/g, \"<br>\");\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<style>\nbody {\n  font-family: Arial, sans-serif;\n  padding: 40px;\n  line-height: 1.6;\n  color: #222;\n}\nh1,h2,h3 {\n  margin-bottom: 10px;\n}\n</style>\n</head>\n<body>\n${resume}\n</body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      html\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        0
      ],
      "id": "d788f19f-1a32-4c47-a0ba-5ebf7620216d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic sk_9f901649497f9cddc538e5accdaab91a4f217b92"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        0
      ],
      "id": "63bae63b-65b7-4801-b5b5-a602a30ec8d0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "8b0b9045-ebe7-4695-b55c-f4d28ff8497f",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1520,
        0
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1888,
        464
      ],
      "id": "a1583378-f1ba-4cbe-99b7-07437aa378dd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "fB3Lg71ZE7c5AnOJ",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "devstral-2512",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -1344,
        320
      ],
      "id": "5c871129-0b71-4a71-801b-716001b11829",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "e5hPNVrlKdGssdne",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://unstop.com/api/public/competition/{{ $json.shortCode }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2384,
        240
      ],
      "id": "5e43bd84-fa9e-4d6b-8982-5d3d84f782b5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data.competition;\n\nfunction stripHtml(html) {\n  return html\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction extractSection(html, heading) {\n  const regex = new RegExp(\n    `<strong>${heading}[^<]*<\\\\/strong>[^<]*<\\\\/p>\\\\s*<ul>(.*?)<\\\\/ul>`,\n    'is'\n  );\n  const match = html.match(regex);\n  if (!match) return [];\n  const items = [...match[1].matchAll(/<li>(.*?)<\\/li>/gis)];\n  return items.map(i => stripHtml(i[1]));\n}\n\nfunction parseEligibility(raw) {\n  try {\n    const e = JSON.parse(raw);\n    const result = [];\n\n    if (e.sector?.length) result.push(`Open to: ${e.sector.join(', ')}`);\n\n    const courses = [...(e.engineering || []), ...(e.arts || []), ...(e.others || [])];\n    courses.forEach(c => {\n      if (typeof c === 'object' && c.course) {\n        const spec = c.specialization?.filter(s => s !== 'all').join(', ') || 'all specializations';\n        result.push(`${c.course.toUpperCase()} (${spec})`);\n      }\n    });\n\n    if (e.fresherPassoutYearsSelected?.length) {\n      result.push(`Passout year: ${e.fresherPassoutYearsSelected.join(', ')}`);\n    }\n\n    return result;\n  } catch {\n    return [];\n  }\n}\n\nconst details = data.details || '';\nconst regnReq = data.regnRequirements || {};\nconst jobDetail = data.job_detail || {};\n\nconst result = {\n  title: data.title,\n  company: data.organisation?.name || null,\n  type: data.subtype,\n  region: data.region,\n  work_type: jobDetail.type,\n  timing: jobDetail.timing,\n  duration: jobDetail.internship_duration,\n  stipend: jobDetail.paid_unpaid,\n  openings: jobDetail.openings,\n  working_days: jobDetail.working_days,\n  apply_by: data.end_date,\n  start_date: data.start_date,\n\n  responsibilities: extractSection(details, 'Responsibilities'),\n  requirements: extractSection(details, 'Requirements'),\n  preferred_skills: extractSection(details, 'Preferred Skills'),\n  perks: extractSection(details, 'Perks'),\n\n  skills: (data.skills || []).map(s => s.skill_name),\n\n  eligibility: parseEligibility(regnReq.eligibility),\n\n  perks_structured: (jobDetail.perks || [])\n    .filter(p => p.value)\n    .map(p => p.text),\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        240
      ],
      "id": "fab17a92-a15b-48da-9dbb-49384c78ea7b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json.body.jobUrl; // change field name to match your trigger\n\nconst match = url.match(/unstop\\.com\\/o\\/([a-zA-Z0-9]+)/);\nconst shortCode = match ? match[1] : null;\n\nreturn [{ json: { shortCode } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        240
      ],
      "id": "58f58b4e-bbaf-4638-9dbb-d6a7ade9095c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -384,
        -192
      ],
      "id": "c6994ed7-a3bc-45f6-82a1-b833cb1ed461",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst source = items[0].json.output;\nconst pdf = items[1].json.data;\n\nreturn [{\n  json: {\n    ats_score: source.ats_score,\n    ats_level: source.ats_level,\n    matched_skills: source.matched_skills,\n    missing_skills: source.missing_skills,\n    strengths: source.strengths,\n    areas_to_improve: source.areas_to_improve,\n    recommended_projects: source.recommended_projects,\n    pdf_base64: pdf\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -192
      ],
      "id": "c870a3db-187a-4235-898d-c8154705fffc",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        0
      ],
      "id": "4135cb90-34f6-4950-b3ec-2582701f4d59",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2992,
        112
      ],
      "id": "4ca0755d-78db-4c2c-a764-a15be6ab9153",
      "name": "Webhook",
      "webhookId": "2f4394d5-ae00-4e1f-8163-6dee033c2d2e"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "75c2a169-9f91-4828-9d1f-8c67412efb18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7267f6d521629e243ed56f1340c7d3d14ae4200c252661ca5cf9acd979d72dc0"
  },
  "id": "CiXec92gEaHQcsbR",
  "tags": []
}